@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
    box-sizing: border-box;
}

#app {
    max-width: 960px;
    margin: 50px auto;
}

.main-content {
    display: flex;
    flex-direction: column;
}
.view-list .item{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.view-list .item .item-media img {
    max-width: 100px;
}

.view-list .item{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.view-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.view-cards .item-media img {
    max-width: 300px;
}
